<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<!-- Configure the location of the messages files -->
    <bean id="messageLocator" class="uk.org.ponder.springutil.SpringMessageLocator">
        <property name="messageSource">
            <bean
                class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
                <property name="basename"
                    value="WEB-INF/bundle/messages" />
                <property name="cacheSeconds" value="10" />
            </bean>
        </property>
        <property name="localeGetter" ref="requestLocaleProxy" />
    </bean>

	<bean id="messageTemplateContributor" parent="templateContributorParent">
		<property name="baseDirectory" value="content/component-templates/" />
		<property name="templateNames"
			value="" />
	</bean>
	
	<bean id="dateUtil" class="org.sakaiproject.sms.tool.util.DateUtil">
		<property name="externalLogic" ref="org.sakaiproject.sms.logic.external.ExternalLogic" />
		<property name="localeGetter" ref="requestLocaleProxy" />
	</bean>

	<bean id="statusUtils" class="org.sakaiproject.sms.tool.util.StatusUtils">
		<property name="messageLocator" ref="messageLocator" />
	</bean>


</beans>