<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
	<title rsf:id="page-title">Abort Task</title>

	<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="../css/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
    <link href="../css/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
</head>

<body style="margin-left : 5px;">
	<div rsf:id="navIntraTool:" class="navIntraTool"/>	
	<h3 rsf:id="sms-abort-task-heading" >Abort Task</h3>
	<div rsf:id="message-for:*">
		<span>Message for user here</span>
	</div>

	<form name="abort-task-form" rsf:id="abort-task-form">
		<div rsf:id="confirm-msg">
			Are you sure you wish abort task with id 1 to group 2
		</div>
		<div rsf:id="invalid-task">
			Invalid task specified
		</div>
		<br/>
		<div class="act">
			<input rsf:id="abort-button" class="active" value="Abort" type="submit" />
			<input rsf:id="cancel-button" accesskey="x" type="button" onclick="history.go(-1)" />
		</div>		
	</form>
</body>
</html>