<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
	<title rsf:id="page-title">SMS Billing Admin</title>

	<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="../css/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
    <link href="../css/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	<link rel="stylesheet" href="/sms-tool/content/css/sms.css" type="text/css"/>	
</head>

<body style="margin-left : 5px;">
<div class="portletBody">
	<div rsf:id="navIntraTool:" class="navIntraTool"/>
  	<h3 rsf:id="account" class="insColor clear newAccount insBak insBorder"><a href="#" rsf:id="new-account">New Account</a></h3>
	
	<br/>
	<h3 rsf:id="accounts-heading" >SMS Accounts</h3>
	<div rsf:id="message-for:*">
		<span>Message for user here</span>
	</div>

	<table class="listHier lines" cellspacing="0">
		<thead>
			<tr>
				<th rsf:id="account-name-title">Account Name</th>
				<th rsf:id="credit-account-title">Credit Account</th>
				<th rsf:id="account-no-title">Account No.</th>
				<th rsf:id="sakai-site-title">Sakai Site</th>
				<th rsf:id="sakai-user-title">Sakai User</th>
				<th rsf:id="overdraft-limit-title">Overdraft Limit</th>
				<th rsf:id="credits-title">Credits</th>
			</tr>
		</thead>
		<tbody>
			<tr rsf:id="account-entry:">
				<td><a rsf:id="account-name-link" href="edit_account.html">Account name</a></td>
				<td><a rsf:id="credit-account-link">Credit</a></td>
				<td rsf:id="account-no">21212121212</td>
				<td rsf:id="sakai-site">something</td>
				<td rsf:id="sakai-user">someone</td>
				<td rsf:id="overdraft-limit">200</td>
				<td rsf:id="credits">150</td>
			</tr>
		</tbody>
	</table>
</div>
</body>


</html>