<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title rsf:id="page-title">Sms Items</title>
<script type="text/javascript">
       // $(document).ready(function() {
			//$.fn.SMS.people(); //Populate the people lists ie:roles, groups and individuals
			$('#peopleList').tabs();
			
       // });
    </script>

</head>
<body>
<div class="portletBody">
<h3 class="insColor clear insBak insBorder">Choose Recipients</h3>
<div class="alertMessage" style="display:none">
    <ul style="margin:0px;">
      <li>Message for user here</li>
    </ul>
  </div>
<form>
<div id="people">
  <div id="peopleList">
    <ul>
      <li><a href="#peopleListRoles" id="peopleTabsRoles">Select by role</a></li>
      <li><a href="#peopleListGroups" id="peopleTabsGroups">Select by group</a></li>
      <li><a href="#peopleListNames" id="peopleTabsNames">Individuals</a></li>
      <li><a href="#peopleListNumbers" id="peopleTabsNumbers">Numbers</a></li>
    </ul>
    <div id="peopleListRoles">
    </div>
    <div id="peopleListGroups">
    </div>
    <div id="peopleListNames">
      <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
    </div>
    <div id="peopleListNumbers">
    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. </p>
      <textarea name="peopleListNumbersBox" cols="40" rows="7"></textarea>
    </div>
  </div>
  <div class="clear">
    <label>
    <input type="checkbox" name="copyMe" id="copyMe" />
    Send me a copy</label>
  </div>
  <div class="act">
    <input type="submit" class="active" disabled="disabled" id="recipientsCmd" value="Continue" />
    <input type="submit" value="cancel" />
  </div>
</div>
</form>
<hr width="465" noshade="noshade" class="loginform" />
</div>
</body>
</html>
