<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>SMS Message Log</title>
<script type="text/javascript" language="JavaScript" src="../js/searchCriteria.js"></script>
<script type="text/javascript" language="JavaScript" src="../js/sms.js"></script>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link rel="stylesheet" href="/sms-tool/content/css/sms.css" type="text/css"/>
<link href="../css/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
<link href="../css/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	
	<script type="text/javascript">includeLatestJQuery('user-sms');</script>
	<link href="/library/webjars/jquery-ui/1.11.3/jquery-ui.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/library/js/lang-datepicker/lang-datepicker.js"></script>
</head>
<body style="margin-left : 5px;">
<div class="portletBody">
<div rsf:id="navIntraTool:" class="navIntraTool"/>
<div rsf:id="message-for:*">
  <span>Message for user here</span>
</div>
<h2>SMS Messages</h2>
<div rsf:id="searchCriteria:"/>
<fieldset><legend rsf:id="table-caption">Task List</legend> 
<div rsf:id="searchResults:"/>
<p></p>
<div rsf:id="searchPager:"/>
</fieldset>
<p></p>	
<form method="post">
<div rsf:id="export:" class="act">
	<a id="export-to-csv" rsf:id="export-to-csv"></a>
		<input id="buttonlink" type="button" value="Export to CSV" onclick="call_link('export-to-csv')" class="active"/>
	<p></p>
</div>
</form>
</div>
</body>
</html>