<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
	<title rsf:id="page-title">Permission denied</title>

	<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="../css/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
    <link href="../css/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
</head>

<body style="margin-left : 5px;">
	<h3 rsf:id="permission-denied-heading" >Abort Task</h3>
	<div rsf:id="message-for:*">
		<span>Message for user here</span>
	</div>

	<div rsf:id="permission-denied-msg">
		Permission denied: SMS Tool is only available to Administrators
	</div>
	
	
</body>
</html>