<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>SMS Task List</title>
	<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="../css/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
    <link href="../css/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
</head>
<body style="margin-left : 5px;">
<h2>SMS Task</h2>

<div>
	<p class="shorttext">
		<label rsf:id="credit-estimate-label">1</label>
		<label rsf:id="credit-estimate">1</label>
	</p>
	<p class="shorttext">
		<label rsf:id="date-processed-label">2</label>
		<label rsf:id="date-processed">2</label>
	</p>
	<p class="shorttext">
		<label rsf:id="date-to-send-label">3</label>
		<label rsf:id="date-to-send">3</label>
	</p>
	<p class="shorttext">
		<label rsf:id="date-to-expire-label">3</label>
		<label rsf:id="date-to-expire">3</label>
	</p>
	<p class="shorttext">
		<label rsf:id="delivery-group-name-label">4</label>
		<label rsf:id="delivery-group-name">4</label>
	</p>
	<p class="shorttext">
		<label rsf:id="delivery-user-id-label">5</label>
		<label rsf:id="delivery-user-id">5</label>
	</p>
	<p class="shorttext">
		<label rsf:id="group-size-estimate-label">6</label>
		<label rsf:id="group-size-estimate">6</label>
	</p>
	<p class="shorttext">
		<label rsf:id="group-size-actual-label">7</label>
		<label rsf:id="group-size-actual">7</label>
	</p>
	<p class="shorttext">
		<label rsf:id="messsage-body-label">8</label>
		<label rsf:id="messsage-body">8</label>
	</p>
	<p class="shorttext">
		<label rsf:id="messsage-reply-body-label">x</label>
		<label rsf:id="messsage-reply-body">x</label>
	</p>
	<p class="shorttext">
		<label rsf:id="message-type-id-label">9</label>
		<label rsf:id="message-type-id">9</label>
	</p>
	<p class="shorttext">
		<label rsf:id="attempt-count-label">10</label>
		<label rsf:id="attempt-count">10</label>
	</p>
	<p class="shorttext">
		<label rsf:id="sakai-site-id-label">11</label>
		<label rsf:id="sakai-site-id">11</label>
	</p>
	<p class="shorttext">
		<label rsf:id="sakai-tool-id-label">12</label>
		<label rsf:id="sakai-tool-id">12</label>
	</p>
	<p class="shorttext">
		<label rsf:id="sakai-tool-name-label">13</label>
		<label rsf:id="sakai-tool-name">13</label>
	</p>
	<p class="shorttext">
		<label rsf:id="sender-user-name-label">14</label>
		<label rsf:id="sender-user-name">14</label>
	</p>
	<p class="shorttext">
		<label rsf:id="sms-account-id-label">15</label>
		<label rsf:id="sms-account-id">15</label>
	</p>
	<p class="shorttext">
		<label rsf:id="fail-reason-label">16</label>
		<label rsf:id="fail-reason">16</label>
	</p>
</div> 
</body>
</html>