<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>SMS Task List</title>
	<script type="text/javascript" language="JavaScript" src="../js/searchCriteria.js"></script>
	<script type="text/javascript" language="JavaScript" src="../js/sms.js"></script>
	<link rel="stylesheet" href="/sms-tool/content/css/sms.css" type="text/css"/>
	<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
	<link href="../css/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	<link href="../css/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
	
	<script type="text/javascript">includeLatestJQuery('user-sms');</script>
	<link href="/library/webjars/jquery-ui/1.11.3/jquery-ui.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/library/js/lang-datepicker/lang-datepicker.js"></script>
		
</head>
<body style="margin-left : 5px;">
<div class="portletBody">
<div rsf:id="navIntraTool:" class="navIntraTool"/>
<h2>SMS Tasks</h2>
<div rsf:id="message-for:*">
  <span>Message for user here</span>
</div>
<div rsf:id="searchCriteria:"/>
<fieldset><legend rsf:id="table-caption">Task List</legend> 
<div rsf:id="searchResults:"/>
<p></p>
<div rsf:id="searchPager:"/>
</fieldset>
<p></p>	
<form method="post">
<div rsf:id="export:" class="act">
	<a id="export-to-csv" rsf:id="export-to-csv"></a>
	<input id="buttonlink" type="button" value="Export to CSV" onclick="call_link('export-to-csv')" class="active"/>
	<input type="button" value="Add Task" id="add-task-button" rsf:id="add-task-button" />
	
	<a id="add-task-link" rsf:id="add-task-link" style="display:none;" />
	<script type="text/javascript">
		function initTaskBtn(addTaskButtonId , linkId) {
			var addTaskButton = document.getElementById(addTaskButtonId);
			var addTaskLink = document.getElementById(linkId);
			addTaskButton.onclick = function () {openWindow(addTaskLink.href, 'helper' ,'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=800,height=600'); return false;  };
		}
	</script>
	
	<script rsf:id="init-add-task-btn" type="text/javascript">
		initTaskBtn("add-task-button", "add-task-link");
	</script>
	
	<p></p>
</div> 
</form>
</div>
</body>
</html>