<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- define the list of HBM mapping files -->
    <bean id="org.sakaiproject.sms.hbmMappingList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>hibernate-mappings.hbm.xml</value>
            </list>
        </constructor-arg>
    </bean>

   <bean id="org.sakaiproject.sms.util.HibernateUtil" class="org.sakaiproject.sms.util.HibernateUtilImpl">
      <property name="sessionFactory" ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
   </bean>

</beans>
