.clickableRow {
  cursor: pointer; 
  color:#3333FF; 
  text-decoration: underline;
}

.smsMessageSuccess {
background-color:#DDEECC;
background-image:url(/library/image/silk/accept.png);
border:1px solid #99CC66;
    background-position:3px 3px;
background-repeat:no-repeat;
clear:both;
height:100%;
margin:0.5em 0;
overflow:hidden;
padding:3px 3px 3px 2em;
}
.addItem {
background:transparent url(/library/image/silk/add.png) no-repeat scroll left center;
padding-left:1.5em;
}
.selectedItem {
background:transparent url(/library/image/silk/tick.png) no-repeat scroll left center;
padding-left:2em;
}
.schedule {
background:transparent url(/library/image/silk/time_add.png) no-repeat scroll left center;
padding-left:1.5em;
}
.exipry {
background:transparent url(/library/image/silk/time_delete.png) no-repeat scroll left center;
padding-left:1.5em;
}
/*skinned sortable header */
.headerSortUp a {
	background-image: url(/library/image/sakai/sortdescending.gif);
	background-repeat: no-repeat;
	background-position: 90% center;
	padding-right: 25px;
}
.headerSortDown a {
	background-image: url(/library/image/sakai/sortascending.gif);
	background-repeat: no-repeat;
	background-position: 90% center;
	padding-right: 25px;
}

/**
* Facebox controls
**/
#facebox .b {
  background:url(../images/b.png);
}

#facebox .tl {
  background:url(../images/tl.png);
}

#facebox .tr {
  background:url(../images/tr.png);
}

#facebox .bl {
  background:url(../images/bl.png);
}

#facebox .br {
  background:url(../images/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .header {
    display:block;
float:left;
margin-top:0;
}
#facebox .footer {
  border-bottom:1px solid #DDDDDD;
margin-bottom:5px;
text-align:right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/**
* End Facebox controls
**/

.tabsNumber{
/*	position: absolute;
	margin-top: -13px;
	margin-left: -75px;
	font-size: 18px;
	font-weight: bold;
	background-color: #333333;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding-right: 2px;
	padding-left: 2px;
	filter: Alpha(Opacity=70);
	opacity: 0.7;*/
}
#peopleListGroups {
	/*height: 100%;JS set actual height depending on content*/
	/*overflow: auto;*/
}
.Counter {
    margin-top:-28px;
    font-size: 1.5em;
    color: #CCCCCC;
    text-align: right;
    width: 410px;
}

/* all DIV tags with an ID starting with peopleList */
div[id^='peopleList'] {
/*    height: 200px;
    margin-bottom:55px;
width:542px;*/
}
/* all spans tags with a class starting with console */
span[class^='console-'] {
    font-weight:bold;
}

.columnBoxes{
    float:left;
text-align:left;
width:250px;
}

.smsAlert {
background:transparent url(../images/exclamation.gif) no-repeat scroll 0 50%;
color:#FF5555;
padding:3px 3px 3px 20px;
}

.smsAlert div{
   float:left;
font-weight:bold;
margin-right:5px;
}

.smsGreen{
   color: green;
}

.smsGreenish{
   color: #45D7DD;
}

.smsRed{
    color: red;
}

.smsOrange{
    color: orange;
}
.autocompleteParent{
    height: 180px; overflow: auto;
}

ul.numbers-holder {
	margin  : 0;
	padding : 5px 5px 0;
	height  : 100px;
	overflow: auto;
	font    : 11px;
    border: none;
    height: 100px;
    overflow: auto;
    width: 230px
}
ul.numbers-holder li {
	float   : left;
	margin  : 0 5px 4px 0;
	list-style-type: none;
}
ul.numbers-holder li.acfb-data {
	border-radius         : 6px;
	-moz-border-radius    : 6px;
	-webkit-border-radius : 6px;
	border     : 1px solid #CAD8F3;
	padding    : 1px 5px 2px;
	background : #DEE7F8;
}

textarea {
    overflow:auto;
}


.smsInstruction {
  display: block;
  color: #555;
  line-height:2.5rem;
}
