<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	  <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	  </bean>


	  <bean id="org.sakaiproject.sms.dao.SmsDao" class="org.sakaiproject.sms.dao.StandaloneSmsDaoImpl" init-method="init" >
      	<property name="propertiesFile" value="hibernate.properties" />
      	<property name="sessionFactory" ref="mySessionFactory" />
      </bean>

</beans>
